body{
    width:1200px;
    margin:0 auto;
    
}
header{
    background-image:url(pics/aviation_bg.jpg);
    background-size: cover;
   
    height:600px;
}
nav{
    text-align: right;
    padding:10px 10px 0px 0px;
    
}
nav a {
    font-size: 16px;
    font-family: Verdana;
    border-right: 3px solid black;
    padding-right: 4px
}    

a{
    text-decoration: none;
}
.intro{
    text-align: center;
  
    font-size:40px;
    font-family: Arial;
    
}

#com{
    margin:100px 0 150px 0;
    
}
#logo{
    display:block;
    margin: auto;
    width:200px;
    height: 200px;
    border-radius: 50%;
}
#anc{
   
    text-align: center
}
h1 {
    text-align: center;
    font-size: 25px;
}
.comparisson{
    font-family: cursive;
    font-size: 22px;
    width:400px;
    height:500px;
    float:left;
    padding:0px 100px 0px 100px;
}

.cop{
    width:400px;
    height:300px;
}
#video{
    height: 300px;
}
.who{
    margin-top: 50px;
}
figure{
    float:left;
    width:400px;
    text-align: center;
}
#hob{
    clear:both;
}
p{
    font-size:22px;
    font-family: sans-serif;
}
figure{
    height:250px;
}
figure img{
    height: 200px;
}